Repository avocado-framework/avocado, pull requests merged in 2021-03, with the labels that each got.

#4419 Output on fail fix
  avocado/core/test.py
  avocado/plugins/runner_nrunner.py
Labels: bug

#4429 Test independent on Job class
  avocado/core/nrunner_avocado_instrumented.py
  avocado/core/test.py
  avocado/plugins/runner.py
  selftests/unit/test_jsonresult.py
  selftests/unit/test_test.py
  selftests/unit/test_xunit.py
Labels: nrunner

#4462 nrunner: provide a Task identifier when none is given [v2]
  avocado/core/nrunner.py
  avocado/core/utils.py
  examples/jobs/passjob_custom.py
  selftests/functional/test_task_statemachine.py
  selftests/unit/test_spawner.py
  selftests/unit/test_task_runtime.py
Labels: nrunner

#4465 Move nrunner standalone runners to a new runners dir
  avocado/core/nrunner.py
  avocado/core/runners/__init__.py
  avocado/core/runners/avocado_instrumented.py
  avocado/core/runners/tap.py
  selftests/unit/test_nrunner.py
  setup.py
Labels: nrunner

#4467 Skip* Decorators: allow the conditional to be a callable
  avocado/core/decorators.py
  docs/source/guides/writer/chapters/writing.rst
  examples/tests/skip_conditional.py
  selftests/functional/test_skiptests.py
Labels: enhancement, test runner and core APIs

#4469 Suite: replace Tasks for Runnables
  avocado/core/nrunner.py
  avocado/core/suite.py
  avocado/core/utils.py
  avocado/plugins/list.py
  avocado/plugins/runner_nrunner.py
  selftests/unit/test_job.py
Labels: nrunner

#4468 Cirrus CI: run selftests on Fedora
  .cirrus.yml
  avocado/utils/process.py
  contrib/containers/ci/selftests/fedora-32.docker
  contrib/containers/ci/selftests/fedora-33.docker
  selftests/unit/test_utils_iso9660.py
  selftests/unit/test_utils_network.py
  selftests/unit/test_utils_partition.py
  selftests/unit/test_utils_process.py
  spell.ignore
Labels: enhancement

#4483 vmimage: Pass the backing file format to qemu-img
  avocado/utils/vmimage.py
Labels: customer:QEMU, optional plugins / utils / contrib

#4490 Safeloader: support relative imports with names
  avocado/core/safeloader.py
  selftests/unit/test_safeloader.py
Labels: bug
